body {
  background: linear-gradient(135deg, #0c1a9d, #6c1696, #8e6aa2 );
  color: #E8F4FD;
  font-family: Arial, sans-serif;
  padding: 40px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}
h1 {
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color:#ffffff;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}
h3{
    color: white;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 400;
    margin-top: -20px;
}

  


p {
  font-size: 18px;
  line-height: 1.7;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

hr{
  border: none;
  border-top: 1px solid #300050 ;
  margin: 40px 0;

}